.App {
  text-align: center;
}


.App-header {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: pink;
}
.App-header nav a:visited {
  color: pink;
}

.App-link {
  color: #61dafb;
}


